html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
}
.app{
  height: 200%;
  width: 100%;
  padding: 0;
  margin: 0;

}

.bg-main{
  background-color: whitesmoke(128, 0, 122, 0.966);
}

.content{
  padding: 12px;
  height:500px;
  background-color:rgb(245, 245, 245);
  border-radius: 12px;


}
.contenth{
  padding: 12px;
  height:500px;
  background-color:rgb(245, 245, 245);
  border-radius: 12px;


}
.oyama{
  text-align: justify;
  
}
.socials{
  color: blue;
}
.content3{
  padding: 12px;
  height: 500px;;
  background-color:rgb(208, 204, 226);
 
}
.content5{
  padding: 0;
  height:50%;
  background-color:rgb(208, 204, 226);
 
}
.lp{
  padding: 12px;
  height: 100%;
  background-color:rgb(208, 204, 226);
} 

.footer{
  height: 100px;
  width: 100%;
  background-color: rgb(136, 122, 131);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  box-shadow: purple;  

}

.socialmedia svg{
  color: aqua;
  margin: 20px;
  font-size: 70px;
  cursor: pointer;

}

.button{
  border-radius: 12px;
}

.line{
  text-decoration: line-through;
}
.pad{
  padding: 12px;
}
  
.yams{
  border-radius: 12px;
}
.align{
  justify-content: center;
}
.content2{
  padding: 12px;
  height:600px;
  background-color:whitesmoke;
  border-radius: 12px;
  background-image:src="  ";

}
.content4{
  padding: 12px;
  height:1500px;
  background-color:whitesmoke;
  border-radius: 12px;
  background-image:src="  ";

}

.right{
  justify-content: center;

}
.footer:hover{
  box-shadow: purple;  
}

.Signup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
